BR2_x86_64=y
BR2_OPTIMIZE_2=y
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_INET_IPV6=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_ENABLE_GRAPHITE=y
BR2_ENABLE_LOCALE_PURGE=y
BR2_ENABLE_LOCALE_WHITELIST="C en_US en de_DE de"
BR2_GENERATE_LOCALE="en_US.UTF-8 de_DE.UTF-8"
BR2_TARGET_OPTIMIZATION="-pipe"
BR2_TARGET_GENERIC_HOSTNAME="br-initramfs"
BR2_TARGET_GENERIC_ISSUE="Welcome to Buildroot Fischstaebchen Initramfs"
BR2_TARGET_GENERIC_PASSWD_SHA512=y
BR2_INIT_NONE=y
BR2_TARGET_GENERIC_ROOT_PASSWD="idkfa"
# BR2_TARGET_GENERIC_GETTY is not set
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/board/fischstaebchen/common/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL)/board/fischstaebchen/common/post_build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL)/board/fischstaebchen/common/post_image.sh"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL)/board/fischstaebchen/common/busybox.config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_PV=y
BR2_PACKAGE_E2FSPROGS=y
# BR2_PACKAGE_E2FSPROGS_BADBLOCKS is not set
# BR2_PACKAGE_E2FSPROGS_DUMPE2FS is not set
# BR2_PACKAGE_E2FSPROGS_E2FREEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_E2UNDO is not set
# BR2_PACKAGE_E2FSPROGS_FILEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_FSCK is not set
# BR2_PACKAGE_E2FSPROGS_LOGSAVE is not set
# BR2_PACKAGE_E2FSPROGS_MKLOSTFOUND is not set
# BR2_PACKAGE_E2FSPROGS_UUIDGEN is not set
BR2_PACKAGE_SQUASHFS=y
BR2_PACKAGE_SQUASHFS_LZ4=y
BR2_PACKAGE_SQUASHFS_XZ=y
BR2_PACKAGE_IUCODE_TOOL=y
BR2_PACKAGE_LVM2=y
BR2_PACKAGE_MDADM=y
BR2_PACKAGE_HAVEGED=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_ACL=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_UTIL_LINUX_FSCK=y
BR2_PACKAGE_NANO=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_HACKS=y
BR2_PACKAGE_HACKS_DROP_BUSYBOX_SYMLINKS=y
BR2_PACKAGE_HACKS_INITRAMFS_PURGE=y
BR2_PACKAGE_HACKS_MISC_DOWNSIZE=y
BR2_PACKAGE_HACKS_UTIL_LINUX_DOWNSIZE=y
BR2_PACKAGE_FISCHSTAEBCHEN_INITRAMFS=y
BR2_PACKAGE_FISCHSTAEBCHEN_INIT_ZRAM_TOOLS=y
BR2_PACKAGE_FISCHSTAEBCHEN_INIT_CREATE_USER_TMPDIRS=y
# BR2_PACKAGE_FISCHSTAEBCHEN_CFG_ZRAM_SET_COMPRESSION_AFTER_CLAIM is not set
# BR2_PACKAGE_FISCHSTAEBCHEN_CFG_ZRAM_DISK_ENABLE_EXT2 is not set
# BR2_PACKAGE_FISCHSTAEBCHEN_CFG_ZRAM_DISK_ENABLE_EXT2_EXTERN is not set
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_WGET=y
